name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-tests:
    name: "WP ${{ matrix.config.wp }}, multisite: ${{ matrix.config.ms }}, PHP: ${{ matrix.config.php }}"
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - { wp: latest,  ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: nightly, ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: latest,  ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: nightly, ms: 'yes', php: '7.4', phpunit: 7 }

          - { wp: latest,  ms: 'no',  php: '8.0', phpunit: 9, coverage: 'yes' }
          - { wp: nightly, ms: 'no',  php: '8.0', phpunit: 9, coverage: 'yes' }
          - { wp: latest,  ms: 'yes', php: '8.0', phpunit: 9, coverage: 'yes' }
          - { wp: nightly, ms: 'yes', php: '8.0', phpunit: 9, coverage: 'yes' }
    services:
      mysql:
        image: mariadb:latest@sha256:9ff479f244cc596aed9794d035a9f352662f2caed933238c533024df64569853
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Check out source code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - name: Decide whether to enable coverage
        id: coverage
        run: |
          if [ "${{ matrix.config.coverage }}" = "yes" ]; then
            echo "::set-output name=coverage::pcov"
            echo '::set-output name=ini::pcov.directory=inc, pcov.exclude="~/(vendor|tests)/~"'
          else
            echo "::set-output name=coverage::none"
            echo "::set-output name=ini::opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=64M"
          fi

      - name: Set up PHP
        uses: shivammathur/setup-php@d30ad8b1843ace22e6698ab99bbafaa747b6bd0d # 2.24.0
        with:
          coverage: ${{ steps.coverage.outputs.coverage }}
          ini-values: ${{ steps.coverage.outputs.ini }}
          php-version: ${{ matrix.config.php }}
        env:
          fail-fast: 'true'

      - name: Install PHPUnit
        run: |
          wget -q -O /usr/local/bin/phpunit "https://phar.phpunit.de/phpunit-${{ matrix.config.phpunit }}.phar"
          chmod +x /usr/local/bin/phpunit

      - name: Install dependencies
        uses: ramsey/composer-install@83af392bf5f031813d25e6fe4cd626cdba9a2df6 # tag=2.2.0

      - name: Set up WordPress and WordPress Test Library
        uses: sjinks/setup-wordpress-test-library@f4a68bacec7b0b5fcad9770c07e479d7fefe6fcd # 1.1.15
        with:
          version: ${{ matrix.config.wp }}

      - name: Set up multisite mode
        run: echo "WP_MULTISITE=1" >> $GITHUB_ENV
        if: matrix.config.ms == 'yes'

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
            sleep 1
          done
        timeout-minutes: 1

      - name: Run tests
        run: |
          OPTIONS=
          if [ "${{ steps.coverage.outputs.coverage }}" != 'none' ]; then
            OPTIONS="$OPTIONS --coverage-clover=clover.xml"
          fi
          phpunit --order-by=random ${OPTIONS}

      - name: Upload coverage report
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # tag=v3.1.1
        with:
          files: clover.xml
          flags: unittests
        if: ${{ steps.coverage.outputs.coverage != 'none' }}
